window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

window-rule {
  match app-id="zen"
  open-maximized true
}

// if you use steam you will probably like these
window-rule {
  match app-id="steam"
  exclude title=r#"^[Ss]team$"#
  open-floating true
}

window-rule {
  match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=10 y=10 relative-to="bottom-right"
  open-focused false
}

layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}
